/* Main css style */
html, body{
    height: 100%
}

body {
    font-family: "dm serif display";

    background-color: #F9FBF2;
}

h1 {
    font-family: "dm serif display";
    color:black;
}

.content {
padding: 22px;

}

/* holder that holds header -> body -> footer */
#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 80px;    /* height of footer */
}


/************* begin footer *********************/

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #F9FBF2; 

}

.footer_content {
    padding: 10px 10px;
    background-color: #405b8e;
}
.footer_content p {
    color: #F9FBF2;
}

.footer_content a {
    color: #AFCBFF; 
}

/************* end footer *********************/

.container {
    align: center;
}

/************* summary text box ********************/
.longtext_container {
    align: center;
    padding: 5% auto;
    overflow-y: auto;
    /*border: 10px solid #9DACFF; */

}


.longtext{
    align: left;
    padding: 5%;
    overflow-y: auto;
}
/***********:** begin top nav bar ****************/


/* Add a black background color to the top navigation */
.topnav {
  background-color: #405b8e; 
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav p {
    float: left;
    text-align: left;
    font-size: 22px;
    padding: 0px 22px;
    color: white;
    text-decoration: none;

}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd; 
  color: black;
}

/************* end top nav bar ****************/


/************* begin form style ****************/

button,
input,
select,
label,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.input_holder {
    align: center;
}
input {
    align: center;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

