<!DOCTYPE html>
<html>
    {% include 'head.html' %}
  <body>
    <div class="container">
      <h1>About this site</h1>
      <br>
      <div id="content">
	InBrief is a prototype tool developed for the 2023 University of Michigan Taubman College Urban Tech Prototype Grant (Protogrant) program. It is designed to leverage the latest large language models (LLMs) to generate fast, cheap and coherent summaries of complicated environmental impact statements. The summaries output by this tool are not legal advice, nor are they likely to be admissible as legal evidence. In its current state, this tool is only suitable as a learning aid for individuals looking to better comprehend public-access but prohibitively long documentation.
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>

