<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <p> This page is a placeholder loading screen. Wait here until your summary is done and it'll refresh automatically. </p>
    <h1> {{pages}} </h1> pages
    <br>
    <h1> {{words}} </h1> words
  <body>
      
<script>
    function navigate() {
        window.location.href = 'summary';  // Redirects user to the /map route when 'create_map' is finished
    }
    fetch('processing').then(navigate); // Performing 'create_map' and then calls navigate() function, declared above
</script>

    <!-- scripts -->
  </body>
  {% include 'footer.html' %}
</html>
